{% extends "base.html" %}

{% block content %}
<div class="row mt-1">
    <div class="col-lg-10 p-3 mx-auto shadow ">
        <div class="col-lg-4 alert alert-success"><h3>Add Your Todo</h3></div>
        <form action="{% url 'add_todo' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-success" type="submit" value="Add Todo">
        </form>
        <hr>
    </div>
    <div class="col-lg-10 p-3 mx-auto">
        <div class="alert alert-success"><h4 class="text-center">Todo List</h4></div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="ui" placeholder="Search for blog here ..." id="">
            <input class="btn btn-success" type="submit" value="Search">
        </form>
    </div>
    <div class="col-lg-10 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>User</th>
                    <th>Update Todo</th>
                    <th>Delete Todo</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.user}}</td>
                        <td><a class="btn btn-success" href='/update/{{task.id}}'>Update</a></td>
                        <td><a class="btn btn-danger" href="/delete/{{task.id}}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if tasks.has_previous %}
              <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
              <li class="page-item"><a class="page-link" href="/?page={{tasks.previous_page_number}}">previous</a></li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
              <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
              <li class="page-item"><a class="page-link" href="/?page=3">3</a></li>
    
              {% if tasks.has_next %}
              <li class="page-item"><a class="page-link" href="/?page={{tasks.next_page_number}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
        <br>
        
    </div>
</div>
{% endblock  %}
    
